html, body, #root {
  height: 100%;
  margin: 0;
  overflow: hidden;
}
.react-flow__node-default {
  background: transparent !important;
  padding: 0 !important;
  border: none !important;
  box-shadow: none !important;
}
